#java specific

Sale_Squared/cache/*
#netbeans ignore personal stuff 
nbproject/private/


## generic files to ignore
*~
*.lock
.DS_Store
*.swp
*.out
./Sale_Squared/build/
./Sale_Squared/.settings
./Sale_Squared/.DS_Store
./Sale_Squared/dist/